# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Distribution
build/
dist/
*.egg-info/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# Dynaconf / env
.env
configs/.secrets.yaml

# Logs
logs/*.log

# IDE
.vscode/
.idea/
